h1 {
  color: #ffffff;
  font-style: normal;
  font-family: sans-serif;
  text-align: center;
  font-size: 135px;
  padding-top: 230px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
}

h2 {
  background: #000000;
  font-style: normal;
  font-family: sans-serif;
  text-align:center;
  /*position: relative;*/
  padding: 20px 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
}

body {
  background: rgba(0, 0, 0, 0.7);
  background: rgb(0, 0, 0);
  background-image: url("https://i.ytimg.com/vi/rzQAC8kPJxo/maxresdefault.jpg");
  -webkit-background-size: cover;
  -mozbackground-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a.btn {
    border: none;
    color: white;
    text-decoration:none;
    font-size: 36px;
    font-family: sans-serif;
}
